/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: LightGreen;
}

/* Header */
header {
    background-color: DarkGreen;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    background-color: Teal;
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Section */
main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: Olive;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: ForestGreen;
    color: white;
    text-align: center;
    padding: 10px;
}
